.container {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    & .mainContainer, & .detailsContainer {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        margin: 50px 0;
        & .mainText {
           font-size: 25px;
           font-weight: 600;
           text-align: center;
           margin: 0;
           padding: 0 0 15px 0;
        }
        & .secondaryText {
           font-size: 20px;
           font-weight: 500;
           text-align: center;
           margin: 0;
           padding: 0 0 20px 0;
        }
        & .mainButton {
           background-color: #17a9fb;
           color: black;
           font-size: 16px;
           border-radius: 5px;
           padding: 10px 15px;
           border: none;
           margin: 0 auto;
        }
    }
    & .detailsContainer {
        margin: 10px auto 30px;
        max-width: 600px;
        & .detailsText {
           font-size: 22px;
           font-weight: 600;
           text-align: center;
           margin: 0;
           padding: 0 0 15px 0;
        }
        & .description {
            font-size: 18px;
            line-height: 1.8;
            padding: 0 2px;
            & .work {
                list-style-type: circle;
                padding: 0 20px;
                & li{
                  font-size: 18px;
                }
            }
        }
    }
}